<div align="center">


  <div class="container-fluid">
    <br>
    <h1 class="display-4">Overview</h1>
    <br>

    <div class="row">

      <div class="col-md-8 col-xs">
        <div class="shadow-sm card">
          <div class="card-header">
            Last hours
          </div>
          <div class="card-body">
            <div class="container-fluid" >

              <pinch-zoom>
                <div [innerHTML]="svgCurrentAll" class="svg"></div>
              </pinch-zoom>


            </div>


          </div>

        </div>
      </div>
      <div class="col-md-4 col-xs">
        <div class="shadow-sm card">
          <div class="card-header">
            Current capacity
          </div>
          <div class="card-body">
            <div class="container-fluid">

              <div *ngIf="afterEight">

              <div *ngFor="let bib of currentBibs" class="row">

                <div *ngIf="!bib.warning" class="card text-white bg-success mb-2" style="width: 100%;" >
                  <div class="card-header"><i class="material-icons">local_library</i>
                    {{bib.nameBib}}</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        Available seats:<br> {{bib.frei}}%
                      </div>
                      <div class="col-sm">
                        <div *ngIf="bib.beschraenkt == 0">
                          <i class="material-icons">thumb_up_alt</i><br>
                          Open to public
                        </div>
                        <div *ngIf="bib.beschraenkt == 1">
                          <i class="material-icons">error</i><br>
                          Faculty only
                        </div>
                      </div>
                      <div class="col-sm">
                        <a mat-button [routerLink]="'/view/' + bib.nameBib"><i class="material-icons">insert_chart_outlined</i> Stats</a>
                      </div>
                    </div>
                  </div>
                </div>




                <div *ngIf="bib.warning" class="card text-white  bg-danger mb-2" style="width: 100%;">
                  <div class="card-header"><i class="material-icons">local_library</i>
                    {{bib.nameBib}}</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        Available seats:<br> {{bib.frei}}%
                      </div>
                      <div class="col-sm">
                        <div *ngIf="bib.beschraenkt == 0">
                          <i class="material-icons">thumb_up_alt</i><br>
                          Open to public
                        </div>
                        <div *ngIf="bib.beschraenkt == 1">
                          <i class="material-icons">error</i><br>
                          Faculty only
                        </div>
                      </div>
                      <div class="col-sm">
                        <a mat-button [routerLink]="'/view/' + bib.nameBib"><i class="material-icons">insert_chart_outlined</i> Stats</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              </div>

              <div *ngIf="!afterEight">

                <div class="card text-white  bg-danger mb-2" style="width: 100%;">
                  <div class="card-header"><i class="material-icons">local_library</i>
                    Current Status</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <h4>All libraries are closed!</h4>
                      </div>

                    </div>
                  </div>
                </div>



              </div>



            </div>
          </div>
         <p>Last update: {{lastUpdate}}</p>  <br> <br>
        </div>

      </div>


    </div>
