<div  align="center">


  <div class="container-fluid">
    <br>
    <h1 class="display-4">{{this.title}}</h1>
    <br>

    <div class="row">

      <div class="col-md-8 col-xs">
        <div class="shadow-sm card">
          <div class="card-header">
            Last 24 hours      </div>
          <div class="card-body">

            <div class="container-fluid">


              <div [innerHTML]="svg" class="svg"></div>


            </div>





            </div>

          </div>

        </div>
      <div class="col-md-4 col-xs">
        <div class="shadow-sm card">
          <div class="card-header">
            Information      </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>

  </div>


</div>
