<div  align="center">


  <div class="container-fluid">
    <br>
    <h2>{{bib.nameBib}}</h2>

    <br>



    <div class="row">

      <div class="col-md-8 col-xs">
        <div class="shadow-sm card mb-4">
          <div class="card-header">
            Last 24 hours      </div>
          <div class="card-body">

            <pinch-zoom [properties]="zoomProperties" style=" z-index: 2; position:relative;">
              <div class="container-fluid" >
                <div class="svg" [innerHTML]="svgCurrent"  >
                </div>
              </div>
            </pinch-zoom>


            </div>

          </div>




        <div class="shadow-sm card mb-4">
          <div class="card-header">
            Average occupancy by weekday (all time)
          </div>
          <div class="card-body">

            <pinch-zoom [properties]="zoomProperties" style=" z-index: 2; position:relative;">
              <div class="container-fluid" >
                <div class="svg" [innerHTML]="avgByWkday"  >
                </div>
              </div>
            </pinch-zoom>


          </div>

        </div>



        <div class="shadow-sm card mb-4">
          <div class="card-header">
Last week
          </div>
          <div class="card-body">

            <pinch-zoom [properties]="zoomProperties" style=" z-index: 2; position:relative;">
              <div class="container-fluid" >
                <div class="svg" [innerHTML]="lastWeek"  >
                </div>
              </div>
            </pinch-zoom>


          </div>

        </div>
















        </div>
      <div class="col-md-4 col-xs"  style=" z-index: 1; position:relative;">
        <div class="shadow-sm card">
          <div class="card-header">
            Information      </div>
          <div class="card-body">

            <div class="container-fluid">

              <div *ngIf="bib.open">

              <div *ngIf="!bib.warning" class="card text-white bg-success mb-2" style="width: 100%;" >
                <div class="card-header"><i class="material-icons">local_library</i>
                   Current Status</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm">
                      Available seats:<br> {{bib.frei}}%
                    </div>
                    <div class="col-sm">
                      <div *ngIf="bib.beschraenkt == 0">
                        <i class="material-icons">thumb_up_alt</i><br>
                        Open to public
                      </div>
                      <div *ngIf="bib.beschraenkt == 1">
                        <i class="material-icons">error</i><br>
                        Faculty only
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div *ngIf="bib.warning" class="card text-white  bg-danger mb-2" style="width: 100%;">
                <div class="card-header"><i class="material-icons">local_library</i>
                  Current Status</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm">
                      Available seats:<br> {{bib.frei}}%
                    </div>
                    <div class="col-sm">
                      <div *ngIf="bib.beschraenkt == 0">
                        <i class="material-icons">thumb_up_alt</i><br>
                        Open to public
                      </div>
                      <div *ngIf="bib.beschraenkt == 1">
                        <i class="material-icons">error</i><br>
                        Faculty only
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              </div>

              <div *ngIf="!bib.open">

                <div class="card text-white  bg-danger mb-2" style="width: 100%;">
                  <div class="card-header"><i class="material-icons">local_library</i>
                    Current Status</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm">
                        <h4>Closed</h4>
                      </div>

                    </div>
                  </div>
                </div>





              </div>









              </div>

          </div>
        </div>
      </div>
    </div>

  </div>


</div>
